.back {
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  opacity: 0.5;
  display: flex;
  height: 100vh;
  width: 100vw;
  position: fixed;
  justify-content: center;
  align-items: center;
}

.payment-info {
  background-color: white;
  height: 70vh;
  width: 25vw;
  position: relative;
}

.cross {
  position: absolute;
  top: 10px;
  right: 10px;
}

.expiration {
  border: 1px solid #bbbbbb;
  width: 100px;
  margin-top: 15px;
}
.expiration input {
  border: 0;
}

input:focus {
  outline: none;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.form-items {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.cvv-input {
  width: 50px;
  margin-top: 15px;
}

.card-input {
  margin-top: 15px;
}

.pay-button {
  margin-top: 15px;
}

.pay-image {
  height: 150px;
}
